.nav-bar
{
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}
.nav-links
{
    display: flex;
    list-style: none;
    margin-right: 25px;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    text-decoration: none;
    color:black;
}
.nav-links a:hover{
    text-decoration: none;
    color:red;
}
.services
{
    background-color: bisque;
    display:flex;
}
.services div
{
    flex:1;
    background-color: white;
    margin: 10px;


}